@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);


body {
  background-color: #7A7A7A;
}
#gradient {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.landing-section {
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4 {
  font-family: "Roboto Slab", serif; }

p {
  font-family: "Open Sans", sans-serif; }

.logo-block {
  background-color: white;
  margin-bottom: 20px;
  margin-top: 80px;
}
/* Contacto */
.contact-block {
  background-color: white;
  margin-bottom: 80px;
}
.form-horizontal {
  padding-top: 5px;
  position: relative;
}

.contact-block-form-group {
  margin: 0;
  padding: 15px;
}

.contact-block input .contact-block textarea  {
  font-family: 'Lato', sans-serif;
  padding: 20px 6px!important;
}

.contact-block input {
  border: none;
  border-radius: none;
  box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.contact-block textarea {
  border: none;
  border-radius: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  resize: none;
}

.contact-block-textarea {
  margin-bottom: 25px;
}

.contact-block-form-control__focus {
  outline: none;
  border: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.contact-block input::-webkit-input-placeholder {
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block input:-moz-placeholder { /* Firefox 18- */
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block input::-moz-placeholder {  /* Firefox 19+ */
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block input:-ms-input-placeholder {
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block textarea::-webkit-input-placeholder {
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block textarea:-moz-placeholder { /* Firefox 18- */
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block textarea:-ms-input-placeholder {
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.contact-block-submit {
  bottom: -25px;
  left: 38%;
  margin: 0 auto;
  position: absolute;
  width: 33%;
}

.contact-block-submit-button {
  background-color: black;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 15px;
  width: 100%;
}

.contact-block-submit-button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: aqua;
}

.thanks-block {
  background-color: white;
  height: 260px;
  margin-bottom: 80px;
}

.thanks-block p {
  color: #939598;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin-top: 100px;
  text-align: center;
  padding: 0 30px;
}
